.coverage
.coverage.*
.pytest_cache/
__pycache__/
*.py[cod]
*.so

.Python
.venv/
venv/
env/
ENV/

build/
dist/
site/
.eggs/
*.egg-info/
pip-wheel-metadata/

.mypy_cache/
.ruff_cache/
.tox/
.nox/
.hypothesis/

.env
.DS_Store
